        bottom_encoder: bottom_encoder {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <15>;
    }

        top_encoder: encoder_top {
        compatible = "alps,ec11";
        a-gpios = <&gpio1 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio1 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <15>;
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&bottom_encoder &top_encoder>;
    };